
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap/dist/style.css" rel="stylesheet" />
    <title>ShopApp</title>

</head>
<body>
    <partial name="navbar">
        <div class="container pt-100 mb-5">
            @RenderBody();
        </div>

        <script src="~/node_modules/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/node_modules/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>
</html>

