
@{
    ViewData["Title"] = "Accessdenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Accessdenied</h1>
<div class="alert alert-danger">Yetkiniz Olmayan Bir Alana Girmeye Çalışıyorsunuz</div>
